*{
    margin:0 auto;
}
body{
    background-image:linear-gradient(to right , rgb(166, 146, 255),rgb(255, 161, 189),rgb(235, 153, 238));
}

#heading{

    background-image:linear-gradient(to right , rgb(173, 158, 241),rgb(243, 118, 156),rgb(251, 126, 255));
    text-align:center;
    font-family:cursive;
    font-size: 40px;
    color: white;
    
}
.container{
    background-image:linear-gradient(to right , rgb(39, 177, 108),rgb(124, 255, 163),rgb(42, 180, 123));
    width:400px;
    height:520px;
   /* border: 1px solid rgb(53, 52, 52); */
    border-radius:20px;
    margin-top: 20px;
}
#calscreen{
    padding:2%;
    width:75%;
    border:none;
    height:100px;
    margin:0 auto;
    background:rgb(255, 255, 255);
    position:relative;
    top:40px;
   /* border-radius:10px; */
    border: 2px solid rgb(255, 255, 255);
    
}
.button .row{
    width:60%;
    color:white;
    display:flex;
    flex-direction: row;
    background:none;
    position:relative;
    top:60px;
    justify-content: space-around;
   
}

.btn{
    width:50px;
    height:40px;
    border-radius: 10px;
    margin: 4px 1px;
    font-size:20px;
    font-weight: bold;
    background:rgb(255, 212, 72);
    border-style:none;
}
.btn:hover{
    background:rgb(248, 197, 30);
    cursor: pointer;
}

#clear{
    width:100px;
    height:30px;
    
}